/* all common styles */
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

.btn-primary {
  color: var(--White-Color, #fff);
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background: #fd6e0a;
  padding: 15px 35px;
  border: none;
}

.btn-primary:hover {
  background: #ffffff9c;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  transition: 0.5s;
}

/* nav starts */

nav h1 {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  margin-top: 50px;
  margin-left: 220px;
}

h1 > span {
  color: #fd6e0a;

  font-size: 45px;
  font-weight: 800;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-content {
  display: flex;
  list-style: none;
  margin-top: 50px;
  margin-right: 180px;
  align-items: center;
}

.nav-content li {
  margin-right: 50px;
}

.nav-content a {
  color: var(--Dark-02, #474747);
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* banner starts */

.banner {
  display: flex;
  justify-content: space-between;
  
}

.banner-colum-1 {
  margin-left: 220px;
  max-width: 600px;
}

.banner-title {
  color: var(--Dark-02, #474747);
  font-size: 45px;
  font-weight: 600;
  margin-top: 230px;
  margin-bottom: 0;
}

.banner-head {
  color: var(--Dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 0;
}

.banner-discriptiion {
  color: var(--Dark-03, #757575);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 25px;
}

.banner-colum-2 img {
  width: 584px;
  height: 676px;
  margin-right: 40px;
  margin-top: 40px;
  
}

.banner{
    background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-bottom: 0px;
}

.btn-banner{
    color: var(--White-Color, #fff);
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background: #fd6e0a;
  padding: 15px 35px;
  border: none;
  margin-right: 30px;
}

.btn-banner:hover{
    background: #ffffff9c;
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  transition: 0.5s;
}
